extends ../home/layout            

block style
    link(rel="stylesheet" href="/css/index.css")

block indexContent             
    //- section#home 
    //-     h2.contentTitle &#128211 누구라도 따라하기만 하면 만들어지는 웹서버 흐름도 
    h1 nodeJS
                            
