extends layout            
            
block indexContent             
    section#left 
        h2.contentTitle &#128211 백엔드 핵심 간추리기

        //- include basic/tableIndex.pug
                            

    section#right                
        h2.contentTitle &#128209 백엔드 플로우

        div#pointFlow
            //- include point/exerciseIndex.pug
        
        div#formBox
            //- block loginBox 